# Desafio Guiado 3

Descripción: 

La empresa en la cual usted trabaja tiene como solicitud el análisis del Índice de Desarrollo Humano (IDH) de diversos países para elaborar un informe para el Ministerio de Relaciones Exteriores a fin de poder contar con la data necesaria para poder comenzar a trabajar en relaciones diplomáticas más estrechas con diversos países. Para ello, usted queda a cargo de poder revisar la base de datos Quality of Government, de la Universidad de Gotemburgo.
Las unidades de medición en esta base corresponden a 194 países, recolectando los últimos datos de enero del 2018. Además, se le recuerda que la base de datos es un compendio de alrededor de 1900 variables que miden las causas y consecuencias de un
buen gobierno en materias económicas, salud pública, medio ambiente, salud institucional, corrupción, entre otras.

1) Genere una muestra de casos (1 punto). Para ello debes considerar:

Utilice los últimos 4 dígitos de su rut como semilla pseudoaleatoria.

● Seleccione el 50% de los casos.

● Cada base generada debe contener los siguientes elementos:

○ El índice de desarrollo humano (undp_hdi).

○ El nombre del país (ccodealp).

○ La región a la que pertenece (ht_region).

○ El PIB per cápita. (gle_cgdpc).

○ El total de la población (imf_pop).

● Si su apellido está entre la A y la M, escoja las siguientes variables del módulo
Educación:

○ ffp_hf: Human Flight and Brain Drain.

○ wef_qes: Quality of the educational system.

○ wdi_expedu: Government expenditure on education, total (% of GDP).

○ wdi_ners: School enrollment, secondary (% net).

● Si su apellido está entre la N y la Z, escoja las siguientes variables del módulo
Salud:

○ wef_imort: Infant mortality, deaths/1000 live births.

○ who_alc2000: Alcohol consumption per capita (2000-).

○ who_tobt: Current smoking of any tobacco product (Total).

○ wdi_exph: Government expenditure on health, total (% of GDP).

○ Guarde esta tabla procesada en un nuevo objeto.

○ Renombre las categorías de la variable ht_region de números a regiones.

In [74]:
import pandas as pd
import random

In [4]:
df = pd.read_csv('qog_std_cs_jan18.csv')
df

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan18,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan18,NaN,NaN,26.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan18,NaN,NaN,21.0,6.0,...,3.710616,1.704692,3.681347,5.988125,6.301029,5.339371,3.805579,-0.409807,-0.498164,0.179286
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan18,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,UZB,704.0,860.0,QoGStdCSJan18,NaN,NaN,21.0,16.0,...,3.247667,2.191377,2.171875,4.076407,7.888145,5.364856,3.950634,NaN,NaN,0.140921
190,862,Venezuela,VEN,101.0,862.0,QoGStdCSJan18,NaN,NaN,20.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,WSM,990.0,882.0,QoGStdCSJan18,NaN,NaN,10.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,YEM,679.0,887.0,QoGStdCSJan18,NaN,NaN,26.0,16.0,...,3.598178,1.697442,3.752032,4.671357,5.887310,3.384707,3.892000,-0.591479,-0.875164,0.403987
193,894,Zambia,ZMB,551.0,894.0,QoGStdCSJan18,NaN,NaN,22.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Establecemos la semilla con los últimos 4 dígitos del RUT = 17311122-3
random.seed(1223)

In [19]:
# Seleccionamos el 50% de los casos de forma aleatoria
df_sample = df.sample(frac=0.5)
df_sample

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
120,524,Nepal,NPL,790.0,524.0,QoGStdCSJan18,NaN,NaN,25.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,798,Tuvalu,TUV,947.0,798.0,QoGStdCSJan18,NaN,NaN,8.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,90,Solomon Islands,SLB,940.0,90.0,QoGStdCSJan18,NaN,NaN,10.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,686,Senegal,SEN,433.0,686.0,QoGStdCSJan18,NaN,NaN,25.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,498,Moldova,MDA,359.0,498.0,QoGStdCSJan18,NaN,NaN,24.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,756,Switzerland,CHE,225.0,756.0,QoGStdCSJan18,111.0,1.703049e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,724,Spain,ESP,230.0,724.0,QoGStdCSJan18,113.0,6.208227e+08,NaN,1.0,...,1.979123,2.190372,2.186976,5.557984,6.792777,5.291526,3.896562,0.346304,0.494688,0.195657
139,624,Guinea-Bissau,GNB,404.0,624.0,QoGStdCSJan18,NaN,NaN,19.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,586,Pakistan (1971-),PAK,770.0,586.0,QoGStdCSJan18,NaN,NaN,27.0,16.0,...,3.567045,2.822620,3.661812,6.761441,7.540521,5.368966,4.112957,-0.179860,-0.708043,0.230906
31,132,Cape Verde,CPV,402.0,132.0,QoGStdCSJan18,NaN,NaN,18.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
columns = ['undp_hdi', 'ccodealp', 'ht_region', 'gle_cgdpc', 'imf_pop']
df_selected = df_sample[columns]
df_selected

     undp_hdi ccodealp  ht_region    gle_cgdpc     imf_pop
120     0.555      NPL          8   1462.08000   28.174999
179       NaN      TUV          9   3174.05000    0.011000
22      0.514      SLB          9   2113.06010    0.562000
151     0.491      SEN          4   1527.99000         NaN
113     0.701      MDA          1   4207.87010    3.555000
..        ...      ...        ...          ...         ...
168     0.938      CHE          5  50454.41000    8.140000
162     0.882      ESP          5  31086.35000   46.455002
139     0.421      GNB          4    961.26001         NaN
131     0.548      PAK          8   2855.55000  186.190002
31      0.646      CPV          4   3972.61010    0.512000

[97 rows x 5 columns]

In [24]:
# Seleccionamos las columnas del módulo Salud si el apellido se encuentra entre la N y la Z
columns = ['wef_imort', 'who_alc2000', 'who_tobt', 'wdi_exph']
df_selected = df[columns]
df_selected

     wef_imort  who_alc2000   who_tobt  wdi_exph
0          NaN     0.010000        NaN  8.182274
1    15.000000     4.510000  29.700001  5.883105
2    17.200001     0.530000        NaN  7.207178
3          NaN     9.979999  33.099998  8.127135
4    99.500000     8.330000        NaN  3.306983
..         ...          ...        ...       ...
189        NaN     2.830000  13.300000  5.838522
190  13.100000     6.470000        NaN  5.256702
191        NaN     2.150000  32.000000  7.215109
192  46.299999     0.040000        NaN  5.636990
193  56.400002     2.410000  15.900000  4.986765

[194 rows x 4 columns]

In [72]:
df_selected = df[['wef_imort', 'who_alc2000', 'who_tobt', 'wdi_exph', 'ht_region']]
df['ht_region'] = df['ht_region'].replace({1: 'Region 1', 2: 'Region 2', 3: 'Region 3'})
df_selected

     wef_imort  who_alc2000   who_tobt  wdi_exph ht_region
0          NaN     0.010000        NaN  8.182274         8
1    15.000000     4.510000  29.700001  5.883105  Region 1
2    17.200001     0.530000        NaN  7.207178  Region 3
3          NaN     9.979999  33.099998  8.127135         5
4    99.500000     8.330000        NaN  3.306983         4
..         ...          ...        ...       ...       ...
189        NaN     2.830000  13.300000  5.838522  Region 1
190  13.100000     6.470000        NaN  5.256702  Region 2
191        NaN     2.150000  32.000000  7.215109         9
192  46.299999     0.040000        NaN  5.636990  Region 3
193  56.400002     2.410000  15.900000  4.986765         4

[194 rows x 5 columns]

In [64]:
df_frequencies = df['ht_region'].value_counts()
df_frequencies

4     49
1     28
5     27
3     20
2     20
10    13
9     12
7     11
8      8
6      6
Name: ht_region, dtype: int64

2) Genere una función que ingrese su objeto y devuelva lo siguiente (2 puntos):

● Por cada variable existente en su objeto, calcule las medidas descriptivas para
los casos continuos.

● Para cada variable discreta, que calcule la frecuencia.

● Reporte las estadísticas descriptivas para gle_cgdpc, undp_hdi, imf_pop.

● Compare las estadísticas con algún compañero. ¿Ve alguna diferencia
sustancial en alguna de ellas?

In [60]:
def describe_vars(dataframe):
  for col in dataframe.columns:
    if dataframe[col].dtype in ['float64', 'int64']:
      print(f"Descripción de la variable {col}:")
      print(dataframe[col].describe())
      print()
    else:
      print(f"Frecuencias de la variable {col}:")
      print(dataframe[col].value_counts())
      print()

        
print(df['gle_cgdpc'].describe())
print(df['undp_hdi'].describe())
print(df['imf_pop'].describe())

count       192.000000
mean      14279.040530
std       17914.921331
min         324.160000
25%        2614.187525
50%        7884.719750
75%       19239.776500
max      108481.130000
Name: gle_cgdpc, dtype: float64
count    186.000000
mean       0.695801
std        0.155289
min        0.347000
25%        0.567500
50%        0.726500
75%        0.804750
max        0.948000
Name: undp_hdi, dtype: float64
count    145.000000
mean      27.479697
std       48.733842
min        0.011000
25%        2.001000
50%        8.132000
75%       30.770000
max      318.789001
Name: imf_pop, dtype: float64

3) Genere una función que liste las observaciones perdidas de una variable

● La función debe contener los siguientes argumentos:

○ dataframe: La función debe ingresar un objeto DataFrame.
○ var: Variable a inspeccionar.

○ print_list: Opción para imprimir la lista de observaciones perdidas en la
variable. Debe ser False por defecto.

● La función debe retornar la cantidad de casos perdidos y el porcentaje
correspondiente.

● Cuando print_list = True, debe retornar la lista de casos.

● Analice todas las variables y sus casos perdidos.

Para las 3 variables con un mayor porcentaje de casos perdidos, solicite la
lista de países con ausencia de datos.

In [15]:
def missing_data(dataframe, var, print_list=False):
  # Obtener la cantidad de casos perdidos en la variable 'var'
  missing = dataframe[var].isnull().sum()
  
  # Calcular el porcentaje de casos perdidos
  missing_percent = 100 * missing / len(dataframe)
  
  # Si print_list es True, obtener la lista de casos perdidos
  if print_list:
    missing_cases = dataframe[dataframe[var].isnull()]['ccodealp'].tolist()
  
  # Si print_list es True, imprimir la lista de casos perdidos
  if print_list:
    print(f'Lista de casos perdidos en {var}: {missing_cases}')
  
  # Retornar la cantidad de casos perdidos y el porcentaje correspondiente
  return missing, missing_percent

4) Grafique histogramas indicando medias muestral y total:

● Genere una nueva función que grafique un histograma de una variable
entregada para un DataFrame de muestra. El gráfico debe además señalar las
medias de la variable entregada, tanto para el DataFrame de muestra
entregado, como para el DataFrame completo correspondiente.

● La función debe incluir los siguientes argumentos:

○ sample_df: La base de datos donde se encuentran los datos específicos
(muestra).

○ full_df: La base de datos donde se encuentran todos los datos (contiene
los datos de la muestra).

○ var: La variable a graficar.

○ sample_mean: Booleano. Si es verdadero, debe generar una recta vertical
indicando la media de la variable en la selección muestral (sample_df).
Por defecto debe ser False.

○ true_mean: Booleano. Si es verdadero, debe generar una recta vertical
indicando la media de variable en la base de datos completa (full_df).

● Implemente las funciones para las 4 variables seleccionadas según su grupo.
¿En qué variables la media de la muestra es mayor a la de los datos
completos?

In [77]:
import matplotlib.pyplot as plt

def plot_hist_with_means(sample_df, full_df, var, sample_mean=False, true_mean=False):
    # Calcular la media de la variable en la muestra y en los datos completos
    sample_mean = sample_df[var].mean()
    true_mean = full_df[var].mean()
    
    # Graficar histograma de la variable en la muestra
    plt.hist(sample_df[var])
    
    # Si se debe mostrar la media de la muestra, agregar línea vertical
    if sample_mean:
        plt.axvline(sample_mean, color='r')
    
    # Si se debe mostrar la media de los datos completos, agregar línea vertical
    if true_mean:
        plt.axvline(true_mean, color='g')
    
    # Mostrar gráfico
plt.show()

In [ ]:
plot_hist_with_means(sample_df, full_df, 'wef_imort', sample_mean=True, true_mean=True)

5) Genere una función que devuelva un dotplot con las medias por región para una variable entregada

● Cada “punto” del dotplot debe representar la media, o mediana, de una variable
para una región específica.

● La función debe contener los siguientes parámetros:

○ dataframe: La tabla de datos donde buscar las variables.

○ plot_var: Corresponde a una columna del dataframe entregado, de la cual
se desea obtener la métrica (puede ser media o mediana).

○ plot_by: Corresponde a otra columna del dataframe entregado. Es la
columna por la cual se quiere agrupar el dataframe, para acceder luego a
la columna entregada en plot_var.

Tip: Revise el uso del método groupby de pandas.

○ statistic: Debe presentar dos opciones; "mean" para la media y
"median" para la mediana. Por defecto debe ser "mean".

○ global_stat: Booleano. Si es True, debe graficar la media (o mediana,
según lo indicado en statistic) de la variable plot_var entregada, sin
agrupar (para todos los datos entregados en dataframe). Por defecto
debe ser False.

● Implemente la función en las 3 variables con una menor cantidad de datos
perdidos.

In [84]:
import matplotlib.pyplot as plt
import seaborn as sns

def plot_dotplot(dataframe, plot_var, plot_by, statistic='mean', global_stat=False):
    if global_stat:
        if statistic == 'mean':
            mean = dataframe[plot_var].mean()
            plt.plot([mean], [0], 'o', color='red')
            plt.yticks([])
            plt.title(f'Mean of {plot_var}')
        elif statistic == 'median':
            median = dataframe[plot_var].median()
            plt.plot([median], [0], 'o', color='red')
            plt.yticks([])
            plt.title(f'Median of {plot_var}')
    else:
        if statistic == 'mean':
            df_plot = dataframe.groupby(plot_by)[plot_var].mean().reset_index()
            sns.dotplot(x=plot_var, y=plot_by, data=df_plot)

6) Guarde la base de datos

● La submuestra creada tiene un método llamado to_csv. Acceda a este y
guarde la base de datos con la siguiente nomenclatura:

subsample_<iniciales>_demo.csv.
(Subela a la plataforma, junto al desafío)

In [89]:
df_selected.to_csv('subsample_iniciales_demo.csv', index=False)